* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

h1, h2 {
  font-family: "American Typewriter";
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}
